assets/
imgui.ini
build/
FutureWork.txt
HideTests/
cmake.txt
logs/
profile_data.prof
src/Utilities/ThreadPool.cpp
src/Utilities/ThreadPool.h
src/Utilities/ThreadPoolManager.cpp
src/Utilities/ThreadPoolManager.h
shaders/metadata.json
shaders/bin/
/src/Utilities/TaskQueue.h
New Text Document.txt
NewRenderDoc.cap
RenderDocSettings.cap
vs_helper.txt
ProfilerData/
deps/
gitCommands.txt